// General
$line-height-19: 1.18rem;
$primary-color: #0099CC;
$button-border:rgba(45, 63, 92, 0.1);
$light-bluish: #DFE4EB; 

// Text Colors
$black: #000000;
$red: #FF0000;
$light-blue: #2196f3;
$grey: #666666;
$light-grey: rgba(45,63,92,0.38);
$gray: #4A4A4A;
$dark-blue: #2D3F5C;
$white: #ffffff;

//Background Color
$blur-grey: #F3F5F8;
$blur-white: #FAFAFB;
$crimson: #ED8080;


// Font-Family
$font: 'Roboto', sans-serif;

// Font Size
$font-16: 1rem;

//Padding
$padding-left-24: 1.5rem;

//Margin
$margin-left-24: 1.5rem;